In [30]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

sp500 = pd.read_csv("../data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

In [31]:
newSP500 = sp500.rename(columns=
                        {'Book Value': 'BookValue'})
newSP500[:2]

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573

In [32]:
sp500.columns
#칼럼명 변경 x

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [33]:
sp500.rename(columns=                  
             {'Book Value': 'BookValue'},                   
             inplace=True)
sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [34]:
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [35]:
sp500_copy = sp500.copy()
#카피 함수를 통해 추가
sp500_copy['RoundedPrice'] = sp500.Price.round()
#round함수_소수자리 제거_정수형으로 변환하는 것은 아님
#새로운 칼럼으로 추가
#반올림 처리
sp500_copy[:2]
#type int함수 공부

             Sector   Price  BookValue  RoundedPrice
Symbol
MMM     Industrials  141.14     26.668         141.0
ABT     Health Care   39.60     15.573          40.0

In [36]:
copy = sp500.copy()

copy.insert(1, 'RoundedPrice', sp500.Price.round())
copy[:2]

             Sector  RoundedPrice   Price  BookValue
Symbol
MMM     Industrials         141.0  141.14     26.668
ABT     Health Care          40.0   39.60     15.573

In [37]:
ss = sp500[:3].copy()
ss.loc[:,'PER'] = 0
ss

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668    0
ABT     Health Care   39.60     15.573    0
ABBV    Health Care   53.95      2.954    0

In [38]:
ss = sp500[:3].copy()
np.random.seed(123456)
ss.loc[:,'PER'] = pd.Series(np.random.normal(size=3), index=ss.index)
ss

             Sector   Price  BookValue       PER
Symbol
MMM     Industrials  141.14     26.668  0.469112
ABT     Health Care   39.60     15.573 -0.282863
ABBV    Health Care   53.95      2.954 -1.509059

In [39]:
#접합을 통한 칼럼 추가
rounded_price = pd.DataFrame({'RoundedPrice':    
                              sp500.Price.round()})
rounded_price

        RoundedPrice
Symbol
MMM            141.0
ABT             40.0
ABBV            54.0
ACN             80.0
ACE            103.0
...              ...
YHOO            35.0
YUM             75.0
ZMH            102.0
ZION            28.0
ZTS             31.0

[500 rows x 1 columns]

In [40]:
pd.concat([sp500, rounded_price], axis=1)
sp500[:5]
#접합해도 결과 확인 안됨

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897

In [41]:
concatenated = pd.concat([sp500, rounded_price], axis=1)
concatenated[:5]

                        Sector   Price  BookValue  \
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897

        RoundedPrice
Symbol
MMM            141.0
ABT             40.0
ABBV            54.0
ACN             80.0
ACE            103.0

In [42]:
rounded_price = pd.DataFrame({'Price': sp500.Price.round()})
rounded_price[:5]

        Price
Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0

In [43]:
dups = pd.concat([sp500, rounded_price], axis=1)
dups
#접합

                        Sector   Price  BookValue  Price
Symbol
MMM                Industrials  141.14     26.668  141.0
ABT                Health Care   39.60     15.573   40.0
ABBV               Health Care   53.95      2.954   54.0
ACN     Information Technology   79.79      8.326   80.0
ACE                 Financials  102.91     86.897  103.0
...                        ...     ...        ...    ...
YHOO    Information Technology   35.02     12.768   35.0
YUM     Consumer Discretionary   74.77      5.147   75.0
ZMH                Health Care  101.84     37.181  102.0
ZION                Financials   28.43     30.191   28.0
ZTS                Health Care   30.53      2.150   31.0

[500 rows x 4 columns]

In [44]:
dups.Price[:5]

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0

In [45]:
dups.iloc[:,3]

Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
        ...
YHOO     35.0
YUM      75.0
ZMH     102.0
ZION     28.0
ZTS      31.0
Name: Price, Length: 500, dtype: float64

In [46]:
reversed_column_names = sp500.columns[::-1]
sp500[reversed_column_names][:5]

        BookValue   Price                  Sector
Symbol
MMM        26.668  141.14             Industrials
ABT        15.573   39.60             Health Care
ABBV        2.954   53.95             Health Care
ACN         8.326   79.79  Information Technology
ACE        86.897  102.91              Financials

In [47]:
reversed_column_names
#인덱스 값

Index(['BookValue', 'Price', 'Sector'], dtype='object')

In [48]:
copy = sp500.copy()
copy.Price = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [49]:
copy=sp500.copy()
copy.loc[:,'Price'] = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [50]:
copy = sp500.copy()
del copy['BookValue']
copy[:2]
#삭제와 관련된 키워드 3가지
#시험 문제 필수

             Sector   Price
Symbol
MMM     Industrials  141.14
ABT     Health Care   39.60

In [51]:
copy = sp500.copy()

popped=copy.pop('Sector')
#삭제된 부분을 새로운 객체로 형성
#칼럼을 분리시킬 때 사용
copy[:2]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573

In [52]:
popped[:5]
#즉석에서 Series를 삭제한 후 삭제한 Series를 반환

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [53]:
copy = sp500.copy()

afterdrop = copy.drop(['Sector'], axis = 1)
#drop함수 복사본을 반환, 열이나 행 원하는 값의 위치 달라짐
#원본에 영향을 주지 않음
afterdrop[:5]
#copy[:2]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573
ABBV     53.95      2.954
ACN      79.79      8.326
ACE     102.91     86.897

In [56]:
copy = sp500.copy()
copy1=copy.drop(['MMM','ACN'],axis=0)
copy1

                        Sector   Price  BookValue
Symbol
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACE                 Financials  102.91     86.897
ACT                Health Care  213.77     55.188
ADBE    Information Technology   64.30     13.262
...                        ...     ...        ...
YHOO    Information Technology   35.02     12.768
YUM     Consumer Discretionary   74.77      5.147
ZMH                Health Care  101.84     37.181
ZION                Financials   28.43     30.191
ZTS                Health Care   30.53      2.150

[498 rows x 3 columns]