In [2]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

import matplotlib.pyplot as plt
%matplotlib inline

sp500 = pd.read_csv("../data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

In [2]:
df1 = sp500.iloc[0:3].copy()
df2 = sp500.iloc[[10, 11, 2]]
appended = df1.append(df2)

appended

/var/folders/hr/wkvs6s0n6mvdn97bzn837jpw0000gn/T/ipykernel_37652/1893383463.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appended = df1.append(df2)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954
A       Health Care   56.18      16.928
GAS       Utilities   52.98      32.462
ABBV    Health Care   53.95       2.954

In [3]:
df3 = pd.DataFrame(0.0, 
                   index=df1.index,
                   columns=['PER'])
df3

        PER
Symbol
MMM     0.0
ABT     0.0
ABBV    0.0

In [4]:
df1

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

In [5]:
df1.append(df3)

/var/folders/hr/wkvs6s0n6mvdn97bzn837jpw0000gn/T/ipykernel_37652/2993192114.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df3)

             Sector   Price  Book Value  PER
Symbol
MMM     Industrials  141.14      26.668  NaN
ABT     Health Care   39.60      15.573  NaN
ABBV    Health Care   53.95       2.954  NaN
MMM             NaN     NaN         NaN  0.0
ABT             NaN     NaN         NaN  0.0
ABBV            NaN     NaN         NaN  0.0

In [6]:
df1.append(df3, ignore_index=True)

/var/folders/hr/wkvs6s0n6mvdn97bzn837jpw0000gn/T/ipykernel_37652/2634890744.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df3, ignore_index=True)

        Sector   Price  Book Value  PER
0  Industrials  141.14      26.668  NaN
1  Health Care   39.60      15.573  NaN
2  Health Care   53.95       2.954  NaN
3          NaN     NaN         NaN  0.0
4          NaN     NaN         NaN  0.0
5          NaN     NaN         NaN  0.0

In [7]:
df1 = sp500.iloc[0:3].copy()
df2 = sp500.iloc[[10, 11, 2]]
pd.concat([df1, df2])
#접합함수

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954
A       Health Care   56.18      16.928
GAS       Utilities   52.98      32.462
ABBV    Health Care   53.95       2.954

In [8]:
df1 = sp500.iloc[0:3].copy()
df2 = sp500.iloc[[10, 11, 2]]
append=df1.append(df2)
append

/var/folders/hr/wkvs6s0n6mvdn97bzn837jpw0000gn/T/ipykernel_37652/919649917.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append=df1.append(df2)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954
A       Health Care   56.18      16.928
GAS       Utilities   52.98      32.462
ABBV    Health Care   53.95       2.954

In [9]:
df2_2 = df2.copy()
df2_2.insert(3, 'Foo', pd.Series(0, index=df2.index))
df2_2
#insert는 원본에 반영됨

             Sector  Price  Book Value  Foo
Symbol
A       Health Care  56.18      16.928    0
GAS       Utilities  52.98      32.462    0
ABBV    Health Care  53.95       2.954    0

In [10]:
pd.concat([df1, df2_2],sort=False)

             Sector   Price  Book Value  Foo
Symbol
MMM     Industrials  141.14      26.668  NaN
ABT     Health Care   39.60      15.573  NaN
ABBV    Health Care   53.95       2.954  NaN
A       Health Care   56.18      16.928  0.0
GAS       Utilities   52.98      32.462  0.0
ABBV    Health Care   53.95       2.954  0.0

In [11]:
pd.concat([df1, df2_2],sort=True)

        Book Value  Foo   Price       Sector
Symbol
MMM         26.668  NaN  141.14  Industrials
ABT         15.573  NaN   39.60  Health Care
ABBV         2.954  NaN   53.95  Health Care
A           16.928  0.0   56.18  Health Care
GAS         32.462  0.0   52.98    Utilities
ABBV         2.954  0.0   53.95  Health Care

In [12]:
r = pd.concat([df1, df2_2], keys=['df1', 'df2'])
r

                 Sector   Price  Book Value  Foo
    Symbol
df1 MMM     Industrials  141.14      26.668  NaN
    ABT     Health Care   39.60      15.573  NaN
    ABBV    Health Care   53.95       2.954  NaN
df2 A       Health Care   56.18      16.928  0.0
    GAS       Utilities   52.98      32.462  0.0
    ABBV    Health Care   53.95       2.954  0.0

In [13]:
ss = sp500[:3].copy()
ss.loc['FOO'] = ['the sector', 100, 110]
ss

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954
FOO      the sector  100.00     110.000

In [14]:
ss.loc['WWW']=['the sector',100,110]
ss

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954
FOO      the sector  100.00     110.000
WWW      the sector  100.00     110.000

In [15]:
ss = sp500[:5]
ss

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [16]:
afterdrop = ss.drop(['ABT', 'ACN'])
afterdrop[:5]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954
ACE      Financials  102.91      86.897

In [6]:
selection=sp500.Price > 300
#(len(selection), selection.sum())
selection
#Bool형

Symbol
MMM     False
ABT     False
ABBV    False
ACN     False
ACE     False
        ...
YHOO    False
YUM     False
ZMH     False
ZION    False
ZTS     False
Name: Price, Length: 500, dtype: bool

In [18]:
price_less_than_300 = sp500[~selection]
price_less_than_300

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[490 rows x 3 columns]

In [19]:
only_first_three = sp500[:3]
only_first_three

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

In [20]:
only_first_three = sp500[:3].copy()
only_first_three

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

In [21]:
np.random.seed(123456)
df = pd.DataFrame({'foo':np.random.random(10000), 'key':range(100, 10100)})
df[:5]

        foo  key
0  0.126970  100
1  0.966718  101
2  0.260476  102
3  0.897237  103
4  0.376750  104

In [23]:
df[df.key==10099]

           foo    key
9999  0.272283  10099

In [25]:
%timeit df[df.key==10099]
#숫자는 환경에 따라 다를 수 있음

146 µs ± 1.02 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [27]:
df_with_index = df.s et_index(['key'])
df_with_index[:5]

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [28]:
df_with_index.loc[10099]
#처리 속도가 차이 남

foo    0.272283
Name: 10099, dtype: float64

In [29]:
%timeit df_with_index.loc[10099]

33.6 µs ± 287 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [30]:
df_with_index = df.set_index(['key'])
df_with_index[:5]

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [31]:
df_with_index.loc[10099]

foo    0.272283
Name: 10099, dtype: float64

In [32]:
%timeit df_with_index.loc[10099]

33.2 µs ± 382 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)